body {
  background-color: black;
  color: white;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-icon-size {
  font-size: 2rem;
}

.navbar-brand {
  border: 2px solid white;
  padding: 0px 10px 2px;
  background: rgb(0, 0, 0, 0.35);
}


.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fa-1x {
  font-size: 1.5rem;
}


.footer-parent {
  background-color: rgb(131, 146, 165);
}
.footer-1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 0px;
}
.footer-2 {
  /* flex: 3; */
  display: flex;
  justify-content: center;
}

.footer-2 > .fab {
  margin: 15px;
}

.footer-2 > .fab:hover {
  color: green;
}

/* .footer-parent{
    display:flex;
    justify-content: center;
    flex-direction: column;
  } */
.footer-3 {
  /* flex: 3; */
  display: flex;
  justify-content: center;
}
.fab {
  font-size: 35px;
}
.footer-2 {
  background-color: rgb(150, 162, 170);
  height: 60px;
}
.footer-3 {
  background-color: black;
  height: 60px;
  font-size: 20px;
  color: white;
  padding: 15px;
}

.footer-logo-img img {
  border-radius: 45%;
  max-width: 70%;
  height: auto;
  padding: 10px;
}
.footer-under-logo-location-open .h3 {
  font-size: 24px;
  line-height: 30px;
  color: #1a1a1a;
  font-family: "OakesGroteskBold";
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.footer-opening-detail > p {
  font-size: 14px;
  color: #1a1a1a;
  line-height: 20px;
  letter-spacing: 1px;
}
.footer-location-detail > address {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #1a1a1a;
  line-height: 20px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
}
.button-reservation-footer {
  border: 0px;
  max-width: 350px;
  color: white;
  margin: 0 auto;
  line-height: 1;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  padding: 18px 42px 18px;
  background-color: rgb(150, 162, 170);
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.button-reservation-footer:hover {
  background-color: rgb(202, 84, 68);
}
.footer-make-a-reservation-text h3 {
  margin-top: 45%;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #1a1a1a;
  font-family: "OakesGroteskBold";
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 22px;
}
.footer-tel-and-button-reservation .tel {
  font-size: 14px;
  color: #1a1a1a;
  line-height: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
}
.footer-reservation-img {
  width: auto;
  display: inline-block;
  margin-right: 10px;
  margin-top: 20px;
}

.footer-1-3-img img {
  border-radius: 45%;
  padding: 10px;
}
.footer-1-3-inserted-card {
  background-color: rgb(150, 162, 170);
  margin-top: 50%;
}

.footer-1-4-img img {
  border-radius: 45%;
  padding: 10px;
}
.footer-1-4-inserted-card {
  background-color: rgb(150, 162, 170);
  margin-top: 50%;
}
h5 {
  font-size: 24px;
  line-height: 30px;
  color: #1a1a1a;
  font-family: "OakesGroteskBold";
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: 700;
}
.footer-1-3-card-body > address {
  font-size: 16px;
  color: #1a1a1a;
  line-height: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
}
.footer-1-4-card-body > address {
  font-size: 16px;
  color: #1a1a1a;
  line-height: 20px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.navbar-toggler.toggler-example {
  cursor: pointer;
  border: none;
  outline: none;
}

.navbar-item {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: bold;
  background-color: rgb(0, 0, 0, 0.35);
  width: 80px;
  padding-left: 8px;
}

.fa-bars {
  color: white;
}

.navbar-default {
  transition: 500ms ease;
  background: transparent;
}
.navbar-default.scrolled {
  background: #000;
}
.content-block {
  background-color: black;
}
.block1-left {
  color: white;
}
.text-box {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}

/** Team Page*/
.team-page2 {
  background-color: goldenrod;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.team-page-row {
  }

  .introduction {
    padding: 30px 30px;
  }

  .bar {
    border-top: 1px solid white;
  }

  .team-quote {
    font-size: 30px;
    padding: 30px 30px;
  }
  
  .personal-quote {
    font-size:30px;
  }
  .team-member{
      height: 500px;
      width: 200px;
      display: flex;
      justify-content: center;
  }

  
  .hovereffect {
      width: 500px;
      height: 500px;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default;
    }

  .img-responsive {
        padding: 50px 50px;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    
    .hovereffect .overlay {
      
      position: absolute;
      overflow: hidden;
      width: 80%;
      height: 80%;
      left: 10%;
      top: 10%;
      border-bottom: 1px solid #FFF;
      border-top: 1px solid #FFF;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      -ms-transform: scale(0,1);
      transform: scale(0,1);
    }
    
    .hovereffect:hover .overlay {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
    
    .hovereffect img {
      display: block;
      position: relative;
      -webkit-transition: all 0.35s;
      transition: all 0.35s;
    }
    
    .hovereffect:hover img {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
      filter: brightness(0.6);
      -webkit-filter: brightness(0.6);
    }

    
  



    .bar-container{
      width:  300px;
    }
      .content-block {
        background-color: black;
      }
      .block1-left {
        color: white;
      }
      .text-box {
        display: flex;
        justify-content: center;
        margin-top: 25vh;
      }